body {
    background-image: url(https://img.freepik.com/vector-gratis/pata-perro-o-gato-imprime-fondo-modelo_1017-30660.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    }
    .mascota {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    }
    .mascota img {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    border-radius: 10px;
    }
    .mascota p {
    margin-top: 0;
    font-weight: bold;
    }
    .mascota button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    .mascota button:hover {
    background-color: #006F8E;
    }